
.box{
    height: 680px;
    background :#4b4c4d;

}




h1{ padding-top: 200px;
    text-align: center;
    color: white;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    
    
}




   





